@charset "utf-8";
body {
    margin: 0;
}
nav {
      color:#b4d2f7;
      background-color: rgb(106, 63, 70);
}
.container {
    margin: 0;
    padding: 0; 
    width: 100%;
}
.container article {
    box-sizing: border-box;
    min-height: 150px; 
    min-width:150px;
}
.columna1 {
    color: #ddd;
    background-color: #740e32f8;
}
.columna2 {
    color: #ddd;
    background-color:#d20054;
}
.columna3 {
    color: #333;
    background-color: #f7efb4;
}
.columna4 {
color: #333;
background-color:#d5dfef;
}
.columna5 {
    color: #333;
    background-color:#dfe1e5;
}